h1{
    text-align: center;
}
li{
    padding:5px;
    font-size: 30px;
}
ul{
    list-style: none;
    text-align: center;
}
li:hover{
    background-color: blue;
}
a{
    text-decoration: none;
    color: black;
}
li:hover{
        background-color: black;
        color: white;
}
a:hover{
    color: white;
}